@model rhBugTracker.Models.UserInformationDisplay
@using Microsoft.AspNet.Identity
@using rhBugTracker.Models
@{
    
    var db = new ApplicationDbContext();
    var userid = User.Identity.GetUserId();
    var user = db.Users.Find(userid);
    ViewBag.Title = "About";

}



<div class="content">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-3">
                        <div class="card card-bordered">
                            @if (user.AvatarPath == null)
                            {
                                <img class="card-img-top img-fluid" src="~/Images/profile_Placeholder.png" alt="bug"/>
                            }
                            else
                            {
                                <img class="card-img-top img-fluid" src=@user.AvatarPath alt=""/>
                            }


                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 mt-3">
                        @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">

                                @Html.Label("example-text-input", "Assigned Role", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.Role, new { @class = "form-control", id = "example-text-input", @type = "text", @Disabled = true})

                                @Html.Label("example-text-input", "First Name", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.FName, new { @class = "form-control", id = "example-text-input", @type = "text", @Disabled = true })


                                @Html.Label("example-text-input", "Last Name", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.LName, new { @class = "form-control", id = "example-text-input", @type = "text", @Disabled = true})


                                @Html.Label("disabledTextInput", "Display Name", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", id = "disabledTextInput", @type = "text", @Disabled = true })

                                @Html.Label("disabledTextInput", "Email", new { @class = "col-form-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "disabledTextInput", @type = "text", @Disabled = true })

                            </div>
                        }                    
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
</div>
