@model rhBugTracker.Models.Dashboard
@using Microsoft.AspNet.Identity
@using rhBugTracker.Helpers

@{
    ViewBag.Title = "Home Page";
    var userId = User.Identity.GetUserId();
    var ticketHelper = new TicketHelper();
    var projectHelper = new ProjectHelper();


}


<!--SUBMITTER DASHBOARD-->

    <div class="content">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <!-- DASHBOARD HEADERS START -->
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5 col-md-4">
                                                <div class="icon-big text-center icon-warning">
                                                    <i class="nc-icon nc-paper text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col-7 col-md-8">
                                                <div class="numbers">
                                                    <p class="card-category">My Tickets</p>
                                                    <p class="card-title">

                                                        @if (Model.myTickets == null)
                                                        {
                                                            <p>0</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@Model.myTickets.Count()</p>
                                                        }

                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats">
                                            <a href="@Url.Action("myTickets", "Tickets")"><i class="fa fa-clock-o"></i> View All Tickets</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5 col-md-4">
                                                <div class="icon-big text-center icon-warning">
                                                    <i class="nc-icon nc-book-bookmark text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col-7 col-md-8">
                                                <div class="numbers">
                                                    <p class="card-category">My projects</p>
                                                    <p class="card-title">
                                                        @if (Model.myProjects == null)
                                                        {
                                                            <p>0</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@Model.myProjects.Count()</p>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <a href="@Url.Action("myProjects", "Projects")"><i class="fa fa-clock-o"></i> View All</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-stats">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5 col-md-4">
                                                    <div class="icon-big text-center icon-warning">
                                                        <i class="nc-icon nc-vector text-danger"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8">
                                                    <div class="numbers">
                                                        <p class="card-category">Create Ticket</p>
                                                        <p class="card-title">
                                                            <a href="@Url.Action("Create", "Tickets")" class="btn-sm btn-success">+ Create</a>
                                                        </p>   
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer ">
                                                <hr>
                                                <div class="stats">
                                                    <a href="#"><i class="fa fa-clock-o"></i> View All </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>



                                <!---------------MAIN CONTENT ----------------------->

                              

                                    <!--CHARTS-->
                                    <div class="col-lg-12 mt-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div id="barChart1"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div id="donutChart2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    @section scripts{
                                        <!-- main content area end -->


                                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                                        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
                                        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

                                        <script>
                                            $(function () {
                                                var url = '@Url.Action("ProduceChart1Data", "Graphing")';
                                                        $.post(url).then(function (response) {
                                                            new Morris.Bar({
                                                                element: 'barChart1',
                                                                data: response,
                                                                xkey: 'label',
                                                                ykeys: ['value'],
                                                                labels: ['Ticket Count'],
                                                                resize: true
                                                            });
                                                        });

                                                        var url = '@Url.Action("ProduceChart2Data", "Graphing")';
                                                        $.post(url).then(function (response) {
                                                            new Morris.Donut({
                                                                element: 'donutChart2',
                                                                data: response,
                                                                xkey: 'label',
                                                                ykeys: ['value'],
                                                                labels: ['Ticket Count'],
                                                                colors: ['#00B802', '#92F793', '#52B6D7', '#FFF05E', '#FF002E'],
                                                                resize: true
                                                            });
                                                        });        
                                                  });       
     

                                        </script>

                                    }


                                </div>


