@model rhBugTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        RH Bugtracker
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/paper-dashboard.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/demo.css" rel="stylesheet" />
</head>
<body class="register-page">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#pablo">RH Bugtracker / Registration</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page ">
        <div class="full-page register-page section-image" filter-color="black" style="background-image:url('../../Images/registerLeafBK.jpg')">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 ml-auto">
                            <div class="info-area info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="nc-icon nc-tv-2"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Sign up and start tracking bugs</h5>
                                    <p class="description">
                                        Help your company out by creating tickets of issues to be fixed and or worked on for improvment.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="nc-icon nc-html5"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Create projects</h5>
                                    <p class="description">
                                        Create projects and assign a team to them so that for any problems they have they can keep track of them easier than before.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal">
                                <div class="icon icon-info">
                                    <i class="nc-icon nc-atom"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Create Tickets</h5>
                                    <p class="description">
                                        Projects that are created have their own set of tickets with details to each one.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mr-auto">
                            <div class="card card-signup text-center">
                                <div class="card-body ">
                                    <h4 class="card-title">Register</h4>
                                    <!--FORM BEGIN-->
                                    @using (Html.BeginForm("NewRegister", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                            </div>
                                            @*<input type="text" class="form-control" placeholder="First Name...">*@
                                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control", @placeholder = "First Name" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-circle-10"></i>
                                                </span>
                                            </div>
                                            @*<input type="text" placeholder="Last Name..." class="form-control">*@
                                            @Html.TextBoxFor(m => m.LName, new { @class = "form-control", @placeholder = "Last Name" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                            </div>
                                            @*<input type="email" class="form-control" placeholder="Email...">*@
                                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Displayname" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-email-85"></i>
                                                </span>
                                            </div>
                                            @*<input type="email" class="form-control" placeholder="Email...">*@
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                            </div>
                                            @*<input type="email" class="form-control" placeholder="Email...">*@
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                            </div>
                                            @*<input type="email" class="form-control" placeholder="Email...">*@
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                        </div>

                                        <label>Upload Avatar Image</label>
                                        <input name="AvatarImage" type="file" class="form-control" id="fileupload" />

                                        <div class="form-footer text-center mt-5">
                                            <p class="text-muted">
                                                Already an account?
                                                @Html.ActionLink("Log In", "Login", "Account")
                                            </p>
                                        </div>
                                        <div class="card-footer ">
                                            <button type="submit" class="btn btn-success btn-round">Register </button>
                                        </div>
                                        <!--END FORM-->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, Created by Creative Tim
                                | Modified by: <a href="#">Roberto Hernandez</a>
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
