@model rhBugTracker.Models.Tickets

@{
    ViewBag.Title = "Create";
}



    <div class="content">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 style="text-align:center">Creating new ticket</h5>
                    <br />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div>
                            <h6>Enter name for ticket</h6><hr />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <h6>Type a description</h6><hr />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div>
                            <h6>Choose project for ticket</h6><hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <h6>Choose ticket type</h6><hr />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <h6>Choose ticket priority</h6><hr />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*<div>
                            <h6>Choose ticket status</h6><hr />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
        <br />
    </div>
    