@model rhBugTracker.Models.Tickets
@using rhBugTracker.Helpers

@{
    ViewBag.Title = "Details";
    var ticketHelper = new TicketHelper();
    var userRole = new UserRolesHelper();
}

<head>

</head>
<body>
    <div class="col col-12">
        <!-- Progress Table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">@Html.DisplayFor(model => model.Title),  TICKET STATUS</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Ticket Submitter</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Priority</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">@Html.DisplayFor(model => model.OwnerUser.FName)</th>
                                        <td>@Html.DisplayFor(model => model.Description)</td>
                                        <td>@Html.DisplayFor(model => model.TicketType.Name)</td>
                                        <!--WRITE AN IF STATEMENT TO CHECK THE STATUS OF THE PROJECT-->
                                        @if (Model.TicketStatus.Name == "Open")
                                        {
                                            <td>
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                Open!
                                            </td>
                                        }
                                        else if (Model.TicketStatus.Name == "Assigned")
                                        {
                                            <td>
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                Assigned!
                                            </td>
                                        }
                                        else if (Model.TicketStatus.Name == "In Progress")
                                        {
                                            <td>
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                In Progress!
                                            </td>
                                        }
                                        else if (Model.TicketStatus.Name == "Resolved")
                                        {
                                            <td>
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                Resolved!
                                            </td>
                                        }
                                        else if (Model.TicketStatus.Name == "Archived")
                                        {
                                            <td>
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                Archived!
                                            </td>
                                        }

                                        @if (Model.TicketPriority.Name == "None")
                                        {
                                            <td><span class="status-p bg-success">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }
                                        else if (Model.TicketPriority.Name == "Low")
                                        {
                                            <td><span class="status-p bg-success">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }
                                        else if (Model.TicketPriority.Name == "Medium")
                                        {
                                            <td><span class="status-p bg-warning">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }
                                        else if (Model.TicketPriority.Name == "High")
                                        {
                                            <td><span class="status-p bg-warning">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }
                                        else if (Model.TicketPriority.Name == "Highest")
                                        {
                                            <td><span class="status-p bg-danger">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }
                                        else if (Model.TicketPriority.Name == "Immediate")
                                        {
                                            <td><span class="status-p bg-danger">@Html.DisplayFor(model => model.TicketPriority.Name)</span></td>
                                        }

                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li class="mr-3"><a href="@Url.Action("Edit","Tickets", new { id = Model.Id })" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                                <li><a href="@Url.Action("Delete", "Tickets", new { id = Model.Id})" class="text-danger"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Progress Table end -->
        <!--MIDDLE SECTION-->
        <div class="row">
            <!-- team member area start -->
            <div class="col-xl-8 col-lg-8 col-md-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-wrap justify-content-between mb-4 align-items-center">
                            <h4 class="header-title mb-0">PEOPLE ON TICKET</h4>
                        </div>
                        @foreach (var user in ticketHelper.UsersOnTicket(Model.Id))
                        {
                            <div class="member-box">
                                <div class="s-member">
                                    <div class="media align-items-center">
                                        @if (user.AvatarPath == null)
                                        {
                                            <img src="~/Images/profile_Placeholder.png" class="d-block ui-w-30 rounded-circle" alt="">
                                        }
                                        else
                                        {
                                            <img src="@user.AvatarPath" class="d-block ui-w-30 rounded-circle" alt="">
                                        }                                        
                                    <div class="media-body ml-5">
                                        <p>@user.FName @user.LName</p>
                                        <p>@userRole.ListUserRoles(user.Id).FirstOrDefault()</p>
                                        <a href="~/Views/Tickets/Details.cshtml">~/Views/Tickets/Details.cshtml</a>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
            <!-- team member area end -->

            <!-- timeline area start -->
            <div class="col-xl-4 col-ml-4 col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">TICKET TIMELINE</h4>
                        <div class="timeline-area">
                            <div class="timeline-task">

                                @foreach (var history in Model.TicketHistories.OrderByDescending(t => t.Changed).Take(5))
                                {                                                                                                         
                                <div class="icon bg3">
                                    <i class="ti-signal"></i>
                                </div>
                                <div class="tm-title">
                                    <h4>@history.User.FName</h4>
                                    <span class="time"><i class="ti-time"></i>@history.Changed</span>
                                </div>

                                <p>The @history.Property has been changed from @history.OldValue to @history.NewValue;</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- timeline area end -->
        </div>
        <!--BOTTOM SECTION-->
        <div class="row">
            <!-- COMMENTS start -->
            <div class="col-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 " style="border: solid red 1px">
                            <h3 style="text-align: center">Comments</h3>
                            <hr style="border: 1px solid black" />
                            <div id="addComment">
                                @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("TicketId", Model.Id)

                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.TextArea("Comment", new { rows = 5, cols = 50, placeholder = "Add Comment" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-sm btn-dark">Add</button>
                                        </div>
                                    </div>



                                }
                            </div>

                            @foreach (var ticketComments in Model.TicketComments.OrderByDescending(c => c.Created))
                            {
                                <div class="container mt-3">
                                    <h3>Author: @ticketComments.OwnerUser.FName @ticketComments.OwnerUser.LName</h3>
                                    <div class="media">
                                        <img src=@ticketComments.OwnerUser.AvatarPath class="align-self-start mr-3" style="width: 60px" />
                                        <div class="media-body">
                                            <h5>
                                                Written: @ticketComments.Created.ToString("MMM dd, yyyy")
                                            </h5>
                                            <h4>@ticketComments.Comment</h4>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>


                    </div>
                </div>
            </div>
            <!--Attachments Start-->
            <div class="col-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 " style="border: solid red 1px">
                            <h3 style="text-align: center">Attachments</h3>
                        </div>
                        <!--Upload button-->
                        @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { encType = "multipart/form-data" } ))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id);

                            
                            <input type="file" name="Upload" />
                            <button type="submit" >Add Attachment</button>

                        }

                        <!--Showing uploads-->
                        @foreach (var attach in Model.TicketAttachments)
                        {
                            <a href=@Url.Content(attach.FilePath) target="_blank">@attach.FilePath.Split('/')[2] </a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</body>
