@model rhBugTracker.Models.Tickets

@{
    ViewBag.Title = "Edit";
}

<div class="content">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Created)
                    @Html.HiddenFor(m => m.ProjectId)
                    @Html.HiddenFor(m => m.OwnerUserId)
                    @Html.HiddenFor(m => m.AssignedToUserId)
                    @Html.HiddenFor(m => m.Title)



                    <h5 style="text-align:center">EDITING TICKET: @Html.DisplayNameFor(m => m.Title)</h5>
                    <!--TYPE-->
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TicketTypeId, "TicketTypeId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Ticket Type: </label>
                        <div class="col-md-10">
                            @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--PRIORITY-->
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TicketPriorityId, "TicketPriorityId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Ticket Priority:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--STATUS-->
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TicketStatusId, "TicketStatusId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Ticket Status:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>                    
                    <!--DESCRIPTION-->
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Ticket Description:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label>Assign Developer:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("Developer", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-warning" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
</div>
