@model IEnumerable<rhBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Tickets</title>
</head>
<body>
    <!-- Dark table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">All Tickets</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <!--NAME, PRIORITY, STATUS, REQUEST, PROJECT, CREATED ON-->
                                <th>Created By</th>
                                <th>Ticket Name</th>
                                <th>Ticket Description</th>
                                <th>Ticket Priority</th>
                                <th>Ticket Status</th>
                                <th>Ticket Request</th>
                                <th>Ticket Project</th>
                                <th>Created On</th>
                                <th>More..</th>



                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           { 
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.OwnerUser.FName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-1"><a href="@Url.Action("Edit", "Tickets", new { id=item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li class="mr-1"><a href="@Url.Action("Details", "Tickets", new { id=item.Id })" class="text-secondary"><i class="ti-info-alt"></i></a></li>
                                            <li class="mr-1"><a href="@Url.Action("Delete", "Tickets", new { id=item.Id })" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark table end -->
</body>
</html>

