@model IEnumerable<rhBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Tickets</title>
</head>
<body>
    <!-- Dark table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">All Tickets</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <!--NAME, PRIORITY, STATUS, REQUEST, PROJECT, CREATED ON-->
                                <th>Created By</th>
                                <th>Ticket Name</th>
                                <th>Ticket Description</th>
                                <th>Ticket Priority</th>
                                <th>Ticket Status</th>
                                <th>Ticket Request</th>
                                <th>Ticket Project</th>
                                <th>Created On</th>
                                <th>More..</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           { 
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.OwnerUser.FName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                                @if (item.TicketPriority.Name == "None")
                                {
                                    <td><span class="status-p bg-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }
                                else if (item.TicketPriority.Name == "Low")
                                {
                                    <td><span class="status-p bg-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }
                                else if (item.TicketPriority.Name == "Medium")
                                {
                                    <td><span class="status-p bg-warning">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }
                                else if (item.TicketPriority.Name == "High")
                                {
                                    <td><span class="status-p bg-warning">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }
                                else if (item.TicketPriority.Name == "Highest")
                                {
                                    <td><span class="status-p bg-danger">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }
                                else if (item.TicketPriority.Name == "Immediate")
                                {
                                    <td><span class="status-p bg-danger">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                }

                                @if (item.TicketStatus.Name == "Open")
                                {
                                    <td>
                                        <div class="progress" style="height: 8px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        Open!
                                    </td>
                                }
                                else if (item.TicketStatus.Name == "Assigned")
                                {
                                    <td>
                                        <div class="progress" style="height: 8px;">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        Assigned!
                                    </td>
                                }
                                else if (item.TicketStatus.Name == "In Progress")
                                {
                                    <td>
                                        <div class="progress" style="height: 8px;">
                                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        In Progress!
                                    </td>
                                }
                                else if (item.TicketStatus.Name == "Resolved")
                                {
                                    <td>
                                        <div class="progress" style="height: 8px;">
                                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        Resolved!
                                    </td>
                                }
                                else if (item.TicketStatus.Name == "Archived")
                                {
                                    <td>
                                        <div class="progress" style="height: 8px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        Archived!
                                    </td>
                                }
                                                                                                                             
                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                <td>
                                    <ul class="d-flex justify-content-center">
                                        <li class="mr-1"><a href="@Url.Action("Edit", "Tickets", new { id=item.Id })" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                        <li class="mr-1"><a href="@Url.Action("Details", "Tickets", new { id=item.Id })" class="text-secondary"><i class="ti-info-alt"></i></a></li>
                                        <li class="mr-1"><a href="@Url.Action("Delete", "Tickets", new { id=item.Id })" class="text-danger"><i class="ti-trash"></i></a></li>
                                    </ul>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark table end -->
</body>
</html>

