@using Microsoft.AspNet.Identity
@using rhBugTracker.Models
@using rhBugTracker.Helpers

@{ 
    var db = new ApplicationDbContext();
    var userid = User.Identity.GetUserId();
    var user = db.Users.Find(userid);
    var notifyHelper = new NotificationsHelper();


}


<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rob's - Bug Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="Images/favicon-32x32.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="Images/apple-touch-icon.png">

    <!--stylesheets-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <!--START DATATABLES CSS-->
    <link href="~/Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatable/jquery.dataTables.css" rel="stylesheet" />

    <!--END DATATABLES CSS-->
    <!-- others css -->
    <link rel="stylesheet" href="~/Content/typography.css">
    <link rel="stylesheet" href="~/Content/default-css.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- modernizr css -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

    <!--JQUERY START DATATABLES-->
    <script src="~/Content/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatable/jquery.dataTables.js"></script>

    <!--JQUERY END DATATABLES-->
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -------------------------->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start --------------------->
    <div class="page-container">

        <!--SIDEBAR START-->
        <!-- sidebar Nav menu area start --------------------------->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#"><img src="~/Images/bugTrackerLogo.png" alt="logo"></a>
                    @*<img src="~/Images/bugTrackerLogo.png" alt="logo">*@
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <!--ADMIN------------------------------------------------------------------------------>
                            @if (User.IsInRole("Admin"))
                            {
                                <!--DASHBOARD-->
                                <li>
                                    <a href=@Url.Action("Index","Admin", null)>
                                        <i class="fa fa-home"></i> <span>
                                            DASHBOARD
                                        </span>
                                    </a>
                                </li>
                                <!--USERS-->
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-user"></i> <span>
                                            USER MANAGEMENT
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href=@Url.Action("ManageRoles", "Admin")>Manage User Roles</a></li>
                                        <li><a href=@Url.Action("ManageUsers", "Admin")>View All Users</a></li>

                                    </ul>
                                </li>
                                <!--PROJECTS-->
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-book"></i> <span>
                                            PROJECT MANAGEMENT
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href=@Url.Action("Index", "Projects")>View All Projects</a></li>
                                        <li><a href=@Url.Action("ManageProjectsUsers", "Admin")>Assign Users to Projects</a></li>
                                        <li><a href=@Url.Action("MyCreatedProjects", "Admin")>My Projects</a></li>
                                        <li><a href=@Url.Action("Create", "Projects")>Create Project</a></li>
                                    </ul>
                                </li>
                                <!--TICKETS-->
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-ticket"></i> <span>
                                            TICKET MANAGEMENT
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href=@Url.Action("Index", "Tickets")>View All Tickets</a></li>
                                        <li><a href=@Url.Action("ManageTicketsUsers", "Admin")>Assign Ticket to User</a></li>

                                    </ul>
                                </li>

                            }
                            //<!--PROJECT MANAGER------------------------------------------------------------------------------>
                            else if (User.IsInRole("Project Manager"))
                            {
                                <!--DASHBOARD-->
                                <li>
                                    <a href=@Url.Action("Index","ProjectManager", null)>
                                        <i class="fa fa-home"></i> <span>
                                            DASHBOARD
                                        </span>
                                    </a>
                                </li>
                                <!--MY WORK-->
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-user"></i> <span>
                                            MY WORK
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href=@Url.Action("myProjects", "Projects")>My Project</a></li>
                                        <li><a href=@Url.Action("myTickets", "Tickets")>My Tickets</a></li>
                                        <li><a href=@Url.Action("Create","Projects")>Create Project</a></li>
                                    </ul>
                                </li>
                                <!--VIEW ALL-->
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-home"></i> <span>
                                            VIEW ALL
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li><a href=@Url.Action("Users", "ProjectManager")>VIEW USERS</a></li>
                                        <li><a href=@Url.Action("Index", "Projects")>VIEW PROJECTS</a></li>
                                    </ul>
                                </li>
                            }

                            //---DEVELOPER-------------------------------------------------------------------------------------->
                            else if (User.IsInRole("Developer"))
                            {
                                <!--DASHBOARD-->
                                <li>
                                    <a href=@Url.Action("Index","Developer", null)>
                                        <i class="fa fa-home"></i> <span>
                                            DASHBOARD
                                        </span>
                                    </a>
                                </li>
                                <!--MY PROJECTS-->
                                <li>
                                    <a href="@Url.Action("myProjects", "Projects")">
                                        <i class="fa fa-book"></i> <span>
                                            MY PROJECTS
                                        </span>
                                    </a>

                                </li>
                                <!--MY TICKETS-->
                                <li>
                                    <a href="@Url.Action("myTickets", "Tickets")">
                                        <i class="fa fa-ticket"></i> <span>
                                            MY TICKETS
                                        </span>
                                    </a>

                                </li>
                            }

                            //--SUBMITTER----------------------------------------------------------------------------------------->
                            else
                            {
                                <!--DASHBOARD-->
                                <li>
                                    <a href=@Url.Action("Index","Home", null)>
                                        <i class="fa fa-home"></i> <span>
                                            DASHBOARD
                                        </span>
                                    </a>
                                </li>
                                <!--MY PROJECTS-->
                                <li>
                                    <a href="@Url.Action("myProjects", "Projects")">
                                        <i class="fa fa-book"></i> <span>
                                            MY PROJECTS
                                        </span>
                                    </a>

                                </li>

                                <!--MY TICKETS-->
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="fa fa-ticket"></i> <span>
                                            TICKETS
                                        </span>
                                    </a>
                                    <ul class="collapse">
                                        <li>
                                            <a href="@Url.Action("myTickets", "Tickets")">
                                                <i class="fa fa-ticket"></i> <span>
                                                    MY TICKETS
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Tickets")">
                                                <i class="fa fa-ticket"></i> <span>
                                                    CREATE TICKET 
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                
                            }


                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!--SIDEBAR END-->
        <!-- main content area start ----------------------------------->
        <div class="main-content">
            <!-- header area start ------------------------------>
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>@NotificationsHelper.GetUnreadNotifications().Count()</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">You have @NotificationsHelper.GetUnreadNotifications().Count() new notifications</span>
                                    <div class="nofity-list">
                                        <!--LIST OF NOTIFICATIONS-->
                                        @foreach (var unreadNotification in NotificationsHelper.GetUnreadNotifications())
                                        {
                                            <ul id="menu1" class="dropdown-menu list-unstyled msg_lst" role="menu">

                                                <li>
                                                    @using (Html.BeginForm("Dismiss", "TicketNotifictations", FormMethod.Get))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.Hidden("Id", unreadNotification.Id)

                                                        <!--THIS IS THE IMAGE OF THE PERSON WHO MADE THE NOTIFICATION-->
                                                        <span class="image"><img src="@unreadNotification.Sender.AvatarPath" alt="Sender" /></span>
                                                        <span>
                                                            <span>@unreadNotification.Sender.FName</span>
                                                            <span class="time">Created: @unreadNotification.Created.ToString("MMM dd, yyyy")</span>
                                                        </span>
                                                        <span class="message">
                                                            @unreadNotification.NotificationBody
                                                        </span>
                                                        <br />
                                                        <button type="submit">Dismiss</button>
                                                    }
                                                </li>
                                            </ul>
                                         }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            @*<ul class="breadcrumbs pull-left">
                                    <li><a href="index.html">Home</a></li>
                                    <li><span>Dashboard</span></li>
                                </ul>*@
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-sm-6 clearfix">
                            <div class="user-profile pull-right">
                                @if (user.AvatarPath == null)
                                {
                                    <img class="avatar user-thumb" src="~/Images/profile_Placeholder.png" alt="avatar">
                                }
                                else
                                {
                                    <img class="avatar user-thumb" src=@user.AvatarPath alt="avatar">
                                }
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown"> @user.FName @user.LName <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href=@Url.Action("EditProfile", "Home", new { Id = userid })>Profile</a>
                                    <a class="dropdown-item" href=@Url.Action("CustomLogOff", "Account")>Log Out</a>
                                </div>
                            </div>
                        </div>
                        }
                </div>
            </div>
            <!--page title area end-->
            <!--BODY----------------------------------->
            @RenderBody()
            <!--END BODY-->

        </div>
        <!-- main content area end -->
        <!-- footer area start-------------------------------->
        <footer>
            <div class="footer-area">
                <p>
                    © Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>|
                    Modified by: <a href="https://robertochprofile.azurewebsites.net">Roberto Hernandez</a>
                </p>
            </div>
        </footer>
        <!-- footer area end--------------------------------->

    </div>
    <!-- page container area end -->
    <!-- offset area start  SETTINGS -------------------------------->
    @*<div class="offset-area">
            <div class="offset-close"><i class="ti-close"></i></div>
            <ul class="nav offset-menu-tab">
                <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
                <li><a data-toggle="tab" href="#settings">Settings</a></li>
            </ul>
            <div class="offset-content tab-content">
                <div id="activity" class="tab-pane fade in show active">
                    <div class="recent-activity">
                        <div class="timeline-task">
                            <div class="icon bg1">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Rashed sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg2">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Added</h4>
                                <span class="time"><i class="ti-time"></i>7 Minutes Ago</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg2">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="tm-title">
                                <h4>You missed you Password!</h4>
                                <span class="time"><i class="ti-time"></i>09:20 Am</span>
                            </div>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg3">
                                <i class="fa fa-bomb"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Member waiting for you Attention</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg3">
                                <i class="ti-signal"></i>
                            </div>
                            <div class="tm-title">
                                <h4>You Added Kaji Patha few minutes ago</h4>
                                <span class="time"><i class="ti-time"></i>01 minutes ago</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg1">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Ratul Hamba sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Hello sir , where are you, i am egerly waiting for you.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg2">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Rashed sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg2">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Rashed sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg3">
                                <i class="fa fa-bomb"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Rashed sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                        <div class="timeline-task">
                            <div class="icon bg3">
                                <i class="ti-signal"></i>
                            </div>
                            <div class="tm-title">
                                <h4>Rashed sent you an email</h4>
                                <span class="time"><i class="ti-time"></i>09:35</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="settings" class="tab-pane fade">
                    <div class="offset-settings">
                        <h4>General Settings</h4>
                        <div class="settings-list">
                            <div class="s-settings">
                                <div class="s-sw-title">
                                    <h5>Notifications</h5>
                                    <div class="s-swtich">
                                        <input type="checkbox" id="switch1" />
                                        <label for="switch1">Toggle</label>
                                    </div>
                                </div>
                                <p>Keep it 'On' When you want to get all the notification.</p>
                            </div>
                            <div class="s-settings">
                                <div class="s-sw-title">
                                    <h5>Show recent activity</h5>
                                    <div class="s-swtich">
                                        <input type="checkbox" id="switch2" />
                                        <label for="switch2">Toggle</label>
                                    </div>
                                </div>
                                <p>The for attribute is necessary to bind our custom checkbox with the input.</p>
                            </div>
                            <div class="s-settings">
                                <div class="s-sw-title">
                                    <h5>Show your emails</h5>
                                    <div class="s-swtich">
                                        <input type="checkbox" id="switch3" />
                                        <label for="switch3">Toggle</label>
                                    </div>
                                </div>
                                <p>Show email so that easily find you.</p>
                            </div>
                            <div class="s-settings">
                                <div class="s-sw-title">
                                    <h5>Show Task statistics</h5>
                                    <div class="s-swtich">
                                        <input type="checkbox" id="switch4" />
                                        <label for="switch4">Toggle</label>
                                    </div>
                                </div>
                                <p>The for attribute is necessary to bind our custom checkbox with the input.</p>
                            </div>
                            <div class="s-settings">
                                <div class="s-sw-title">
                                    <h5>Notifications</h5>
                                    <div class="s-swtich">
                                        <input type="checkbox" id="switch5" />
                                        <label for="switch5">Toggle</label>
                                    </div>
                                </div>
                                <p>Use checkboxes when looking for yes or no answers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    @*start highcharts js*@
    <script src="https://code.highcharts.com/highcharts.js"></script>
    @*start zingchart js*@
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    @*start amchart js*@
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    @*all line chart activation*@
    <script src="~/Scripts/line-chart.js"></script>
    @*all bar chart activation*@
    <script src="~/Scripts/bar-chart.js"></script>
    <!--all pie chart-->
    <script src="~/Scripts/pie-chart.js"></script>
    <!--others plugins-->
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/scripts.js"></script>

    <!--Jquery Datatable-->
    <script src="~/Content/datatable/jquery.dataTables.js"></script>
    <script src="~/Content/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatable/dataTables.bootstrap4.js"></script>
    <script src="~/Content/datatable/dataTables.bootstrap4.min.js"></script>

    <script src="~/Content/datatable/dataTables.bootstrap.js"></script>
    <script src="~/Content/datatable/dataTables.bootstrap.min.js"></script>

    <script src="~/Content/datatable/dataTables.jqueryui.js"></script>
    <script src="~/Content/datatable/dataTables.jqueryui.min.js"></script>


    <script>
        $('#dataTable3').DataTable();
    </script>
    @RenderSection("scripts", false)
</body>

</html>