@using rhBugTracker.Helpers;
@using Microsoft.AspNet.Identity;
@using rhBugTracker.Models;

@model rhBugTracker.Models.Dashboard


@{
    //get logged in users name
    var userId = User.Identity.GetUserId();
    //new instance of project helper to call in methods
    var projHelper = new ProjectHelper();
    //new instance of ticket helper to call in methods
    var ticketHelper = new TicketHelper();
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

</head>
<body>

    <!-- SECTION START -->
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-body">
                <!-- DASHBOARD HEADERS START -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 ">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i class="ti-blackboard"></i>My Projects</div>
                                        <!--DISPLAY ALL OF MY PROJECTS COUNT-->
                                        @if (projHelper.ListUserProjects(userId).Count() == 0)
                                        {
                                            <h2>0</h2>
                                        }
                                        else
                                        {
                                            <h2>@projHelper.ListUserProjects(userId).Count()</h2>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <a href=@Url.Action("Index", "Tickets")><div class="seofct-icon"><i class="ti-ticket"></i>All Tickets</div></a>
                                        <!--DISPLAY ALL TICKET COUNT-->
                                        @if (ticketHelper.ListAllTickets().Count == 0)
                                        {
                                            <h2>0</h2>
                                        }
                                        else
                                        {
                                            <h2>@ticketHelper.ListAllTickets().Count</h2>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <a href=@Url.Action("Index","Projects")><div class="seofct-icon"><i class="ti-file"></i>All Projects</div></a>
                                        <!--DISPLAY COUNT OF ALL PROJECTS-->
                                        @if (Model.myProjects.Count() == 0)
                                        {
                                            <h2>0</h2>
                                        }
                                        else
                                        {
                                            <h2>@Model.myProjects.Count()</h2>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DASHBOARD HEADERS END-->
                </div>
            </div>
        </div>
    </div>
    <!--SECTION END-->
    <div class="row">
        <!-- TABLE START -->
        <div class="col-12 mt-3 mx-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Unassigned Tickets</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase bg-light">
                                    <tr>
                                        <th scope="col">Ticket Name</th>
                                        <th scope="col">Ticket Status</th>
                                        <th scope="col">Ticket Priority</th>
                                        <th scope="col">Ticket Type</th>
                                        <th scope="col">Assign</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--FOR EACH TO LOOP AROUND AND FILL IN // MAYBE CHANGE TO UNASSIGNED TICKETS-->
                                    @foreach (var tickets in ticketHelper.ListAllUnassignedTickets())
                                    {
                                        <tr>
                                            <td>@tickets.Title</td>

                                            @if (tickets.TicketStatus.Name == "Open")
                                            {
                                                <td>
                                                    <div class="progress" style="height: 8px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    Open!
                                                </td>
                                            }
                                            else if (tickets.TicketStatus.Name == "Assigned")
                                            {
                                                <td>
                                                    <div class="progress" style="height: 8px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    Assigned!
                                                </td>
                                            }
                                            else if (tickets.TicketStatus.Name == "In Progress")
                                            {
                                                <td>
                                                    <div class="progress" style="height: 8px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    In Progress!
                                                </td>
                                            }
                                            else if (tickets.TicketStatus.Name == "Resolved")
                                            {
                                                <td>
                                                    <div class="progress" style="height: 8px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    Resolved!
                                                </td>
                                            }
                                            else if (tickets.TicketStatus.Name == "Archived")
                                            {
                                                <td>
                                                    <div class="progress" style="height: 8px;">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    Archived!
                                                </td>
                                            }

                                            @if (tickets.TicketPriority.Name == "None")
                                            {
                                                <td><span class="status-p bg-success">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }
                                            else if (tickets.TicketPriority.Name == "Low")
                                            {
                                                <td><span class="status-p bg-success">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }
                                            else if (tickets.TicketPriority.Name == "Medium")
                                            {
                                                <td><span class="status-p bg-warning">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }
                                            else if (tickets.TicketPriority.Name == "High")
                                            {
                                                <td><span class="status-p bg-warning">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }
                                            else if (tickets.TicketPriority.Name == "Highest")
                                            {
                                                <td><span class="status-p bg-danger">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }
                                            else if (tickets.TicketPriority.Name == "Immediate")
                                            {
                                                <td><span class="status-p bg-danger">@Html.DisplayFor(t => tickets.TicketPriority.Name)</span></td>
                                            }

                                            <td>@tickets.TicketType.Name</td>
                                            <td><a href=@Url.Action("ManageTicketsUsers","Admin")><button type="button" class="btn btn-rounded btn-success">Assign</button></a></td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="@Url.Action("Edit","Tickets", new { id = tickets.Id })" class="text-secondary"><i class="fa fa-edit"></i></a></li>

                                                </ul>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE END -->
    </div>

    <div class="col-12 mt-3 ml-3 mr-3">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>

    <br />



    <!-- main content area end -->




</body>
</html>
