@model IEnumerable<rhBugTracker.Models.ManageRolesViewModel>

@{ 
    ViewBag.Title = "ManageRoles";
}


<style>
    .cntrlWide{
        width: 100%;
    }
</style>

<html>
<head>

    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
     amcharts css 
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
     Start datatable css 


    <link href="~/Content/datatable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/datatable/dataTables.bootstrap4.js"></script>
    <script src="~/Content/datatable/dataTables.bootstrap4.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
     style css 
    <link rel="stylesheet" href="~/Content/typography.css">
    <link rel="stylesheet" href="~/Content/default-css.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
     modernizr css 
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>*@

</head>
<body>
    <!--START DISPLAYING USER AND THEIR INFO------------->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">USERS ON SYSTEM</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Projects</th>
                                <th>Tickets</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var users in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => users.FullName)</td>
                                    <td>@Html.DisplayFor(m => users.DisplayName)</td>
                                    <td>@Html.DisplayFor(m => users.Email)</td>
                                    <td>@Html.DisplayFor(m => users.RoleName)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--END TABLE FOR DISPLAYING THE USER ---------------->

    <!--ASSIGNING ROLES TO USERS----------ADMIN || PROJECT MANAGER ONLY---------------->
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        <!--ADDING USER -->
        <div class="container" style="padding: 10px 10px 10px 10px">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ListBox("UserIds", null, new { @class = "cntrlWide" })

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownList("Role", null, "-- Select Role -- ", new { @class = "cntrlWide" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary cntrlWide">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <!--END ASSIGNING TO USER ADMIN AND PROJECT MANAGER ONLY----------------------->

    <!--DATATABLE SCRIPT REFERENCE-->
    <script>
        $('#dataTable3').dataTable();
    </script>
    
</body>
</html>
