@using rhBugTracker.Helpers;

@model IEnumerable<rhBugTracker.Models.ManageRolesViewModel>

@{
    var ticketHelper = new TicketHelper();
    var projHelper = new ProjectHelper();
    ViewBag.Title = "ManageRoles";

}
<style>
    .cntrlWide {
        width: 100%;
    }
</style>

<!--START DISPLAYING USER AND THEIR INFO------------->
<div class="content">
    <!--ASSIGNING ROLES TO USERS----------ADMIN || PROJECT MANAGER ONLY---------------->
    @if (User.IsInRole("Admin"))
    {
        <!--ADDING USER -->
        <div class="container" style="padding: 10px 10px 10px 10px">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <label>SELECT USER(S):</label>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ListBox("UserIds", null, new { @class = "cntrlWide" })

                            </div>
                        </div>
                        <hr />
                        <label>SELECT ROLE:</label>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DropDownList("Role", null, "-- Select Role -- ", new { @class = "cntrlWide" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary cntrlWide">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <!--END ASSIGNING TO USER ADMIN AND PROJECT MANAGER ONLY----------------------->
    <!--Row Begin-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ROLE SELECT</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                                <th>ROLE</th>                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NAME</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                                <th>ROLE</th>                                
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var users in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => users.FullName)</td>
                                    <td>@Html.DisplayFor(m => users.DisplayName)</td>
                                    <td>@Html.DisplayFor(m => users.Email)</td>
                                    <td>@Html.DisplayFor(m => users.RoleName)</td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

<!--DATATABLE SCRIPT REFERENCE-->

@section scripts{
    <script>
        $('#datatable').DataTable();
    </script>
}
