@*@model IEnumerable<rhBugTracker.Models.ManageUsersViewModel>*@
@model IEnumerable<rhBugTracker.Models.ManageUsersViewModel>

@{
    ViewBag.title = "ManageUsers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Users</title>
</head>
<body>
    <div class="container-fluid">
        <!--START DISPLAYING USER AND THEIR INFO------------->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">USERS ON SYSTEM</h4>
                    <div class="data-tables datatable-dark">
                        <table id="dataTable3" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var users in Model)
                                {
                                    <tr>
                                        @Html.AntiForgeryToken()
                                        @if (users.ImagePath == null)
                                        {
                                            <td><img src="~/Images/profile_Placeholder.png" class="d-block ui-w-30 rounded-circle" style="max-width: 75px; height: 75px" alt=""></td>
                                        }
                                        else
                                        {
                                            <td><img src="@Html.DisplayFor(m => users.ImagePath)" class="d-block ui-w-30 rounded-circle" style="max-width: 75px; height: 75px" alt=""></td>
                                        }

                                        <td>@Html.DisplayFor(m => users.FullName)</td>
                                        <td>@Html.DisplayFor(m => users.Email)</td>
                                        <td>@Html.DisplayFor(m => users.RoleName)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--END TABLE FOR DISPLAYING THE USER ---------------->



    </div>
</body>
</html>
