@model IEnumerable<rhBugTracker.Models.UserProjectListViewModel>

@{
    ViewBag.Title = "Manage Project Users";
}


<style>
    .lstForProjects {
        width: 100%;
        text-align: center;
    }

    .btnSubmit {
        width: 100%;
        text-align: center;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-6 mt-1">
            <div class="card">
                <div class="card-body">
                    <h1 style="text-align: center">Assign Users to Projects</h1>
                    <div class="col-lg-12" id="lstForProjects">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken();
                            //list box to display the users
                            <div class="col-lg-12">
                                <div class="row">
                                    <p style="text-align:center">Choose a Project</p>
                                    @Html.ListBox("Projects", null, new { @class = "form-control" })
                                </div>
                                <br />
                                <div class="row">
                                    <p>Choose a Project Manager</p>
                                    @Html.DropDownList("ProjectManagerId", null, "--Select--", new { @class = "form-control" })
                                </div>
                                <br />
                                <div class="row">
                                    <p>Choose a Developer</p>
                                    @Html.ListBox("Developers", null, new { @class = "form-control" })
                                </div>
                                <br />
                                <div class="row">
                                    <p>Choose a Submitter</p>
                                    @Html.ListBox("Submitters", null, new { @class = "form-control" })
                                </div>
                                <br />
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-large" id="btnSubmit">Assign</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <table class="table" id="datatable">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(m => m.Name)
                                </th>
                                <th>
                                    @Html.DisplayName("Projects")
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @foreach (var name in item.ProjectNames)
                                        {
                                            @name <br />
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#datatable').DataTable();
    </script>
}




