@*@model IEnumerable<rhBugTracker.Models.ManageUsersViewModel>*@
@model IEnumerable<rhBugTracker.Models.ManageUsersViewModel>

@{
    ViewBag.title = "ManageUsers";
}

<div class="content">
    <div class="container-fluid">
        <!--START DISPLAYING USER AND THEIR INFO------------->

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">USERS ON SYSTEM</h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var users in Model)
                                    {
                                        <tr>
                                            @Html.AntiForgeryToken()
                                            @if (users.ImagePath == null)
                                            {
                                                <td><img src="~/Images/profile_Placeholder.png" class="d-block ui-w-30 rounded-circle" style="max-width: 75px; height: 75px" alt=""></td>
                                            }
                                            else
                                            {
                                                <td><img src="@Html.DisplayFor(m => users.ImagePath)" class="d-block ui-w-30 rounded-circle" style="max-width: 75px; height: 75px" alt=""></td>
                                            }
                                            <td>@Html.DisplayFor(m => users.FullName)</td>
                                            <td>@Html.DisplayFor(m => users.Email)</td>
                                            <td>@Html.DisplayFor(m => users.RoleName)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datatable').DataTable();
    </script>
}
